<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <!-- 
            v-model:双向绑定用的属性
              - 界面修改了数据，data中的属性也会变化
              - 只有属性中有value的标签能使用v-model进行双向绑定

         -->
        <input type="text" v-model="msg">
        <span>{{sex}}</span>
        <input type="radio" v-model="sex" value="男">男
        <input type="radio" v-model="sex" value="女">女
    </div>
  </body>
  <script src="../vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        msg: "龚俊好帅！！",
        sex:"男"
      },
      methods: {},
      computed: {},
    });
  </script>
</html>
