<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <input type="number" v-model="score" value="score" @keydown.enter="keydown">
        <h1 v-if="score>90">好棒啊！！</h1>
        <h1 v-else-if="score>=60">及格了哦!</h1>
        <h1 v-else>不及格</h1>
    </div>
  </body>
  <script src="../vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        msg: "龚俊好帅！！",
        score:60
      },
      methods: {
        keydown(e){
            console.log(this.score);

            // this.score
        }
      },
      computed: {},
    });
  </script>
</html>
